.card {
    background: #666666ea;
    padding: 3em;
    border-radius: 30px;
    width: 100%;
    max-width: 370px;
    max-height: fit-content;
    margin: 1em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #559;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background-image: url("photos/background.jpg");
}

.next {
    position: relative;
    top: 20px;
    right: -320px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
    transition: 0.9s ease-in-out;
    height: 30px;
}

button:hover {
    background-color: lightgoldenrodyellow;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
}

.next-page {
    margin: 0%;
}

.description {
    text-transform: capitalize;
}

.flex {
    display: flex;
    align-items: center;
    margin: 0%;
}

.temp, .city, .flag {
    margin: 0%;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    top: 0%;
    position: absolute;
}

.title {
    background: #666666ea;
    padding: 3em;
    border-radius: 30px;
}